@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa:wght@400;700&display=swap');


:root {
  /* Colors */
  --red-text: #8C030E;
  --red-menu: #D91414;
  --red-titulo: #590209;
  --red-gradient: linear-gradient(to left, #D91414, to right,  #000000 );
  --white: #FFF;

  /* Fontes */
  --roboto: "Roboto", sans-serif;
  --aref: "Aref Ruqaa", serif;
}
